AZURE_OPENAI_ENDPOINT=https://reg-openai.openai.azure.com
AZURE_OPENAI_API_KEY=21deffddf7fe46968b9b08f882152ef5
AZURE_OPENAI_DEPLOYMENT=regai_gpt_latest
AZURE_OPENAI_API_VERSION=2024-02-01
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=reg-embedding-dev
# AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-ada-002
